<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<ion-content padding>
  <div id="z">
    <button ion-button (click)="openWithCordovaBrowser('https://pagospruebas.interpue.com.mx/GenerarReferenciaApp/A000005845')">########## PAGOS ##########</button>
    <br>
    <br>
    <button ion-button (click)="openWithCordovaBrowser('https://interpue.com.mx/maestria/acceso_moodle.html?cadena=MKlskdFFFjseeEEElkdjsdlkjñakjdñlkad75465a4de7wq4a54SSSSSMKlskdFFFjseeEEElkdjsdlkjñakjdñlkad75465a4de7wq4a54SSSSSMKlskdFFFjseeEEElkdjsdlkjñakjdñlkad75465a4de7wq4a54SSSSS&user=A000005845&pass=Mik_-240890')">########## MOODLE ##########</button>
  </div>
</ion-content>